.custom-form label {
    color: #ffffff; /* Cor personalizada para os rótulos */
  }
  
  .custom-form input::placeholder {
    color: #888; /* Cor personalizada para os placeholders */
    opacity: 1; /* Assegura que a opacidade do placeholder seja visível */
  }
  
  .custom-form input {
    color: #333; /* Cor personalizada para o texto dentro dos campos */
    
  }
  
  .custom-form input:focus {
    border-color: #FF7F00; /* Cor das bordas ao focar no campo */
    box-shadow: 0 0 5px rgba(255, 127, 0, 0.5); /* Sombra ao focar */
  }

.btn-cadastro{
  background-color: #FF7F00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 150px; /* Definindo a largura do botão */
    margin: 0 auto; /* Centraliza o botão */
  }
